p {
    font-style: italic;
}

.good-font {
    font-weight: bold;
    color: mediumorchid;
}

#test-id {
    color: blue;
}

body {
    background-color: rgba(190,176,167,1);
}
/* top nav bar styling*/

.topnav {
    background-color: rgba(224, 120, 99, 1);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



/* top nav styling end */

.grid-table {
    /* tells browser that this is a grid container */
    display: grid; 
    /* set dimensions for rows, auto allows it to be more flexible */
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

/* media conditionals */

.grid {
    display: grid;
    grid-template-columns: 100%;
}

@media (min-width: 600px) {
    /* breakpoint 1: run the code if the min width of screen is 600px */
    .grid {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 900px) {
    /* breakpoint 2: run this code if min width of screen is at least 900px */
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.intro {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-section {
    text-align: center;
    text-decoration: none;
}

.about-section {
    list-style: none;
    padding: 0;
}

.pic1 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
    transition: all ease-in-out 0.2s;
}

.pic1:hover {
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}