.card {
    margin-left: 5%;
    box-shadow: 0 1px 4px 0 #000000;
    width: 30%;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 10%;
    height: 250px;
}

.card-button {
    border-radius: 10px;
    width: 50%;
    height: 50px;
    align-self: bottom;
    margin-bottom: 10%;
    background-color: #3d3d66;
    color: white;
}

.card-button:hover {
    transition: 0.3s;
    background-color: white;
    color: black;
    border-color: #3d3d66;
}

.cardTitle {
    font-size: 30px;
}