body {
  margin: 0;
  background-color: #E3A1D3;
  font-family:'Times New Roman', Times, serif;
}
h1 {
  color: black;
  margin-left: 50%;
}
code {
  font-family: 'Times New Roman', Times, serif;
}

.info-text {
  margin-inline: 80px;
  line-height: 1.6;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}