body {
  margin: 0;
  background-color: #E3A1D3;
  font-family:'Times New Roman', Times, serif;
}
h1 {
  color: black;
  margin-left: 50%;
}
code {
  font-family: 'Times New Roman', Times, serif;
}

.info-text {
  margin-inline: 80px;
  line-height: 1.6;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.pic1 {
  border-radius: 70%;
  width: 200px;
  height: 200px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.pic1:hover {
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}